<?xml version="1.0"?>
<launch>
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>  
  
  <!--Load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pinnabot_gazebo)/worlds/labme_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Load the controllers -->
  <include file="$(find pinnabot_control)/launch/pinnabot_control.launch">
  </include>

  <!--Load pinnabot´s urdf -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find pinnabot_description)/urdf/Pinna_bot.xacro'" />
  <arg name="x" default="1.6"/>
  <arg name="y" default="2.405"/>
  <arg name="z" default="0.05"/>
  <node name="pinna_bot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param robot_description -model pinna_bot -x $(arg x) -y $(arg y) -z $(arg z)" >
  </node>


  <!--Run plot-->
  <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" output="screen"/>

  <!--Run Node keyboard control-->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>
  
</launch>